.vscode/
*.out
/nand2tetris*
/06/AssemblerL/*.asm
/06/AssemblerL/*.hack
/06/AssemblerL/AssemblerL
/06/Assembler/*.asm
/06/Assembler/*.hack
/06/Assembler/Assembler
/07/VMtranslator1/*.asm
/07/VMtranslator1/*.vm
/07/VMtranslator1/*.cmp
/07/VMtranslator1/*.tst
/07/VMtranslator1/VMtranslator
/07/VMtranslator2/*.asm
/07/VMtranslator2/*.vm
/07/VMtranslator2/*.cmp
/07/VMtranslator2/*.tst
/07/VMtranslator2/VMtranslator
/08/VMtranslator3/*.asm
/08/VMtranslator3/*.vm
/08/VMtranslator3/*.cmp
/08/VMtranslator3/*.tst
/08/VMtranslator3/VMtranslator
/08/VMtranslator4/*.asm
/08/VMtranslator4/*.vm
/08/VMtranslator4/*.cmp
/08/VMtranslator4/*.tst
/08/VMtranslator4/VMtranslator
/08/VMtranslator5/*.asm
/08/VMtranslator5/*.vm
/08/VMtranslator5/*.cmp
/08/VMtranslator5/*.tst
/08/VMtranslator5/VMtranslator
/08/VMtranslator5/FibonacciElement
/08/VMtranslator5/StaticsTest
/08/VMtranslator5/NestedCall
/10/JackAnalyzer/JackAnalyzer
/10/JackAnalyzer/Square
/10/JackAnalyzer/ExpressionLessSquare
/10/JackAnalyzer/ArrayTest
/10/JackAnalyzer2/JackAnalyzer
/10/JackAnalyzer2/ExpressionLessSquare
/10/JackAnalyzer3/JackAnalyzer
/10/JackAnalyzer3/Square
/10/JackAnalyzer3/ExpressionLessSquare
/10/JackAnalyzer3/ArrayTest
/11/JackCompiler/JackCompiler
/11/JackCompiler/Square
/11/JackCompiler/ExpressionLessSquare
/11/JackCompiler/ArrayTest
/11/JackCompiler2/JackCompiler
/11/JackCompiler2/Seven
/11/JackCompiler3/JackCompiler
/11/JackCompiler3/Seven
/11/JackCompiler3/ConvertToBin
/11/JackCompiler4/JackCompiler
/11/JackCompiler4/Seven
/11/JackCompiler4/ConvertToBin
/11/JackCompiler4/Square
/11/JackCompiler5/JackCompiler
/11/JackCompiler5/Seven
/11/JackCompiler5/ConvertToBin
/11/JackCompiler5/Square
/11/JackCompiler5/Average
/11/JackCompiler6/JackCompiler
/11/JackCompiler6/Seven
/11/JackCompiler6/ConvertToBin
/11/JackCompiler6/Square
/11/JackCompiler6/Average
/11/JackCompiler6/Pong
/11/JackCompiler6/ComplexArrays
/12/1_Memory/MemoryTest
/12/2_Array/ArrayTest
/12/3_Math/MathTest
/12/4_String/StringTest
/12/5_Output/OutputTest
/12/6_Screen/ScreenTest
/12/7_Keyboard/KeyboardTest
/12/8_Sys/SysTest
/12/9_All/Pong